<div>
  <p-stepper [value]="1" class="h-fit">
    <p-step-list class="flex flex-wrap mb-4">
      <p-step [value]="1">Step I</p-step>
      <p-step [value]="2">Step II</p-step>
      <p-step [value]="3">Step III</p-step>
      <p-step [value]="4" [disabled]="!meetingCoherencyOk">Step IV</p-step>
      <p-step
        [value]="5"
        [disabled]="!meetingCoherencyOk || !hasPauses || !pauseCoherencyOk"
        >Step V</p-step
      >
    </p-step-list>
    <p-step-panels>
      <p-step-panel [value]="1" class="h-fit">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="flex flex-row pt-6 justify-between">
            <div
              class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
            >
              <ww-step-1
                (workWellNameStateChange)="onWorkWellNameStateChange($event)"
              ></ww-step-1>
            </div>
            <div class="flex items-center">
              <button
                class="cursor-pointer flex items-center h-fit w-fit ml-2 p-2 bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-lg shadow-lg disabled:bg-gray-400 disabled:cursor-not-allowed"
                label="Next"
                iconPos="right"
                (click)="activateCallback(2)"
                [disabled]="!workWellNameCoherencyOk"
              >
                <p class="mr-1">Next</p>
                <span class="pi pi-arrow-right"></span>
              </button>
            </div>
          </div>
        </ng-template>
      </p-step-panel>

      <p-step-panel [value]="2">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="flex flex-row h-fit pt-6 justify-between">
            <div class="flex items-center">
              <button
                class="cursor-pointer flex items-center h-fit w-fit mr-2 p-2 bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-lg shadow-lg"
                label="Next"
                iconPos="right"
                (click)="activateCallback(1)"
              >
                <span class="pi pi-arrow-left"></span>
                <p class="ml-1">Back</p>
              </button>
            </div>
            <div
              class="h-fit border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
            >
              <ww-step-2
                (lunchStateChange)="onLunchStateChange($event)"
              ></ww-step-2>
            </div>
            <div class="flex items-center">
              <button
                class="cursor-pointer flex items-center h-fit w-fit ml-2 p-2 bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-lg shadow-lg disabled:bg-gray-400 disabled:cursor-not-allowed"
                label="Next"
                iconPos="right"
                (click)="activateCallback(3)"
                [disabled]="!lunchCoherencyOk || !workDayCoherencyOk"
              >
                <p class="mr-1">Next</p>
                <span class="pi pi-arrow-right"></span>
              </button>
            </div>
          </div>
        </ng-template>
      </p-step-panel>

      <p-step-panel [value]="3">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="flex flex-row h-fit pt-6 justify-between">
            <div class="flex items-center">
              <button
                class="cursor-pointer flex items-center h-fit w-fit mr-2 p-2 bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-lg shadow-lg"
                label="Next"
                iconPos="right"
                (click)="activateCallback(2)"
              >
                <span class="pi pi-arrow-left"></span>
                <p class="ml-1">Back</p>
              </button>
            </div>
            <div
              class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
            >
              <ww-step-3
                (meetingStateChange)="onMeetingStateChange($event)"
              ></ww-step-3>
            </div>
            <div class="flex items-center">
              <button
                class="cursor-pointer flex items-center h-fit w-fit ml-2 p-2 bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-lg shadow-lg disabled:bg-gray-400 disabled:cursor-not-allowed"
                label="Next"
                iconPos="right"
                (click)="activateCallback(4)"
                [disabled]="!meetingCoherencyOk"
              >
                <p class="mr-1">Next</p>
                <span class="pi pi-arrow-right"></span>
              </button>
            </div>
          </div>
        </ng-template>
      </p-step-panel>

      <p-step-panel [value]="4">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="flex flex-row h-fit pt-6 justify-between">
            <div class="flex items-center">
              <button
                class="cursor-pointer flex items-center h-fit w-fit mr-2 p-2 bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-lg shadow-lg"
                label="Next"
                iconPos="right"
                (click)="activateCallback(3)"
              >
                <span class="pi pi-arrow-left"></span>
                <p class="ml-1">Back</p>
              </button>
            </div>
            <div
              class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
            >
              <ww-step-4
                (pauseStateChange)="onPauseStateChange($event)"
              ></ww-step-4>
            </div>
            <div class="flex items-center">
              <button
                class="cursor-pointer flex items-center h-fit w-fit ml-2 p-2 bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-lg shadow-lg disabled:bg-gray-400 disabled:cursor-not-allowed"
                label="Next"
                iconPos="right"
                (click)="activateCallback(5)"
                [disabled]="!hasPauses || !pauseCoherencyOk"
              >
                <p class="mr-1">Next</p>
                <span class="pi pi-arrow-right"></span>
              </button>
            </div>
          </div>
        </ng-template>
      </p-step-panel>

      <p-step-panel [value]="5">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="flex flex-row h-fit pt-6 justify-between">
            <div class="flex items-center">
              <button
                class="cursor-pointer flex items-center h-fit w-fit mr-2 p-2 bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-lg shadow-lg"
                label="Next"
                iconPos="right"
                (click)="activateCallback(4)"
              >
                <span class="pi pi-arrow-left"></span>
                <p class="ml-1">Back</p>
              </button>
            </div>
            <div
              class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
            >
              <!-- Add a wrapper to isolate ww-step-5 -->
              <div class="w-full h-full">
                <ww-step-5></ww-step-5>
              </div>
            </div>
          </div>
        </ng-template>
      </p-step-panel>
    </p-step-panels>
  </p-stepper>
  <separator></separator>
</div>
