<p-stepper [value]="1" class="basis-[50rem]">
  <p-step-list class="flex flex-wrap mb-4">
    <p-step [value]="1">Step I</p-step>
    <p-step [value]="2">Step II</p-step>
    <p-step [value]="3">Step III</p-step>
    <p-step [value]="4">Step IV</p-step>
    <p-step [value]="5">Step V</p-step>
    <p-step [value]="6">Step VI</p-step>
  </p-step-list>
  <p-step-panels>
    <p-step-panel [value]="1">
      <ng-template #content let-activateCallback="activateCallback">
        <div class="flex flex-row pt-6 justify-between">
          <div
            class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
          >
            <ww-step-1></ww-step-1>
          </div>
          <div class="flex items-center">
            <button
              class="cursor-pointer flex items-center h-1/4 ml-2 p-2 bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-lg shadow-lg"
              label="Next"
              iconPos="right"
              (click)="activateCallback(2)"
            >
              <p class="mr-1">Next</p>
              <span class="pi pi-arrow-right"></span>
            </button>
          </div>
        </div>
      </ng-template>
    </p-step-panel>

    <p-step-panel [value]="2">
      <ng-template #content let-activateCallback="activateCallback">
        <div class="flex flex-row h-48 pt-6 justify-between">
          <div class="flex items-center">
            <button
              class="cursor-pointer flex items-center h-1/4 mr-2 p-2 bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-lg shadow-lg"
              label="Next"
              iconPos="right"
              (click)="activateCallback(1)"
            >
              <span class="pi pi-arrow-left"></span>
              <p class="ml-1">Back</p>
            </button>
          </div>
          <div
            class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
          >
            <ww-step-2></ww-step-2>
          </div>
          <div class="flex items-center">
            <button
              class="cursor-pointer flex items-center h-1/4 ml-2 p-2 bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-lg shadow-lg"
              label="Next"
              iconPos="right"
              (click)="activateCallback(3)"
            >
              <p class="mr-1">Next</p>
              <span class="pi pi-arrow-right"></span>
            </button>
          </div>
        </div>
      </ng-template>
    </p-step-panel>

    <p-step-panel [value]="3">
      <ng-template #content let-activateCallback="activateCallback">
        <div class="flex flex-row h-48 pt-6 justify-between">
          <div class="flex items-center">
            <button
              class="cursor-pointer flex items-center h-1/4 mr-2 p-2 bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-lg shadow-lg"
              label="Next"
              iconPos="right"
              (click)="activateCallback(2)"
            >
              <span class="pi pi-arrow-left"></span>
              <p class="ml-1">Back</p>
            </button>
          </div>
          <div
            class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
          >
            Content III
          </div>
          <div class="flex items-center">
            <button
              class="cursor-pointer flex items-center h-1/4 ml-2 p-2 bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-lg shadow-lg"
              label="Next"
              iconPos="right"
              (click)="activateCallback(4)"
            >
              <p class="mr-1">Next</p>
              <span class="pi pi-arrow-right"></span>
            </button>
          </div>
        </div>
      </ng-template>
    </p-step-panel>

    <p-step-panel [value]="4">
      <ng-template #content let-activateCallback="activateCallback">
        <div class="flex flex-row h-48 pt-6 justify-between">
          <div class="flex items-center">
            <button
              class="cursor-pointer flex items-center h-1/4 mr-2 p-2 bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-lg shadow-lg"
              label="Next"
              iconPos="right"
              (click)="activateCallback(3)"
            >
              <span class="pi pi-arrow-left"></span>
              <p class="ml-1">Back</p>
            </button>
          </div>
          <div
            class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
          >
            Content IV
          </div>
          <div class="flex items-center">
            <button
              class="cursor-pointer flex items-center h-1/4 ml-2 p-2 bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-lg shadow-lg"
              label="Next"
              iconPos="right"
              (click)="activateCallback(5)"
            >
              <p class="mr-1">Next</p>
              <span class="pi pi-arrow-right"></span>
            </button>
          </div>
        </div>
      </ng-template>
    </p-step-panel>

    <p-step-panel [value]="5">
      <ng-template #content let-activateCallback="activateCallback">
        <div class="flex flex-row h-48 pt-6 justify-between">
          <div class="flex items-center">
            <button
              class="cursor-pointer flex items-center h-1/4 mr-2 p-2 bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-lg shadow-lg"
              label="Next"
              iconPos="right"
              (click)="activateCallback(4)"
            >
              <span class="pi pi-arrow-left"></span>
              <p class="ml-1">Back</p>
            </button>
          </div>
          <div
            class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
          >
            Content V
          </div>
          <div class="flex items-center">
            <button
              class="cursor-pointer flex items-center h-1/4 ml-2 p-2 bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-lg shadow-lg"
              label="Next"
              iconPos="right"
              (click)="activateCallback(6)"
            >
              <p class="mr-1">Next</p>
              <span class="pi pi-arrow-right"></span>
            </button>
          </div>
        </div>
      </ng-template>
    </p-step-panel>

    <p-step-panel [value]="6">
      <ng-template #content let-activateCallback="activateCallback">
        <div class="flex flex-row h-48 pt-6 justify-between">
          <div class="flex items-center">
            <button
              class="cursor-pointer flex items-center h-1/4 mr-2 p-2 bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-lg shadow-lg"
              label="Next"
              iconPos="right"
              (click)="activateCallback(5)"
            >
              <span class="pi pi-arrow-left"></span>
              <p class="ml-1">Back</p>
            </button>
          </div>
          <div
            class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
          >
            Content VI
          </div>
        </div>
      </ng-template>
    </p-step-panel>
  </p-step-panels>
</p-stepper>
