<div class="flex flex-col gap-4 p-4">
  <div
    class="flex flex-column justify-between items-center gap-3 text-[#000411]"
  >
    <p class="text-xl">💼 What is your work day?</p>
    <div class="w-30">
      <div>
        <p class="text-lg w-fit">🌞 Start</p>
        <input
          class="form-control text-center text-lg w-30 border-2 border-[#000411] rounded-lg"
          type="text"
          mwlFlatpickr
          [(ngModel)]="this.workDay.startDate"
          [maxDate]="this.workDay.endDate"
          (flatpickrChange)="onWorkDayStartChange($event.selectedDates[0])"
        />
      </div>
      <div>
        <p class="text-lg w-30">🌜 End</p>
        <input
          class="form-control text-center text-lg w-30 border-2 border-[#000411] rounded-lg"
          type="text"
          mwlFlatpickr
          [(ngModel)]="this.workDay.endDate"
          [minDate]="this.workDay.startDate"
          (flatpickrChange)="onWorkDayEndChange($event.selectedDates[0])"
        />
      </div>
    </div>
  </div>
  <div
    class="flex flex-column justify-between items-center gap-3 text-[#000411]"
  >
    <p class="text-xl">🍴 When do you take lunch?</p>
    <div class="w-30">
      <div>
        <p class="text-lg w-fit">🍽️ Start</p>
        <input
          class="form-control text-center text-lg w-30 border-2 border-[#000411] rounded-lg"
          type="text"
          mwlFlatpickr
          [(ngModel)]="this.lunch.startDate"
          [minDate]="this.workDay.startDate"
          [maxDate]="this.lunch.endDate"
          (flatpickrChange)="onLunchStartChange($event.selectedDates[0])"
        />
      </div>
      <div>
        <p class="text-lg w-30">😋 End</p>
        <input
          class="form-control text-center text-lg w-30 border-2 border-[#000411] rounded-lg"
          type="text"
          mwlFlatpickr
          [(ngModel)]="this.lunch.endDate"
          [minDate]="this.lunch.startDate"
          [maxDate]="this.workDay.endDate"
          (flatpickrChange)="onLunchEndChange($event.selectedDates[0])"
        />
      </div>
    </div>
  </div>
</div>
