<div class="flex flex-col gap-4 p-4">
  <div
    class="flex flex-column justify-between items-center gap-3 text-[#000411]"
  >
    <p class="text-xl">💼 What is your work day?</p>
    <div class="w-30">
      <div>
        <div>
          <div class="flex flex-row items-center gap-2">
            <p class="text-lg w-fit">🌞 Start</p>
            <span
              *ngIf="workDayErrors.length > 0"
              class="text-red-500 font-bold"
              >❌</span
            >
            <span
              *ngIf="workDayErrors.length === 0"
              class="text-green-500 font-bold"
            >
              ✅
            </span>
          </div>
        </div>
        <input
          class="form-control text-center text-lg w-30 border-2 border-[#000411] rounded-lg"
          type="text"
          mwlFlatpickr
          [(ngModel)]="this.workDay.startDateTemp"
          [maxDate]="this.workDay.endDateTemp"
          (flatpickrChange)="onWorkDayStartChange($event.selectedDates[0])"
        />
      </div>
      <div>
        <p class="text-lg w-30">🌜 End</p>
        <input
          class="form-control text-center text-lg w-30 border-2 border-[#000411] rounded-lg"
          type="text"
          mwlFlatpickr
          [(ngModel)]="this.workDay.endDateTemp"
          [minDate]="this.workDay.startDateTemp"
          (flatpickrChange)="onWorkDayEndChange($event.selectedDates[0])"
        />
      </div>
      <div>
        <ul *ngIf="workDayErrors.length > 0" class="text-red-500">
          <li *ngFor="let error of workDayErrors">❌ {{ error }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div
    class="flex flex-column justify-between items-center gap-3 text-[#000411]"
  >
    <p class="text-xl">🍴 When do you take lunch?</p>
    <div class="w-30">
      <div>
        <div>
          <div class="flex flex-row items-center gap-2">
            <p class="text-lg w-fit">🍽️ Start</p>
            <span *ngIf="lunchErrors.length > 0" class="text-red-500 font-bold"
              >❌</span
            >
            <span
              *ngIf="lunchErrors.length === 0"
              class="text-green-500 font-bold"
            >
              ✅
            </span>
          </div>
        </div>
        <input
          class="form-control text-center text-lg w-30 border-2 border-[#000411] rounded-lg"
          type="text"
          mwlFlatpickr
          [(ngModel)]="this.lunch.startDateTemp"
          [minDate]="this.workDay.startDateTemp"
          [maxDate]="this.lunch.endDateTemp"
          (flatpickrChange)="onLunchStartChange($event.selectedDates[0])"
        />
      </div>
      <div>
        <p class="text-lg w-30">😋 End</p>
        <input
          class="form-control text-center text-lg w-30 border-2 border-[#000411] rounded-lg"
          type="text"
          mwlFlatpickr
          [(ngModel)]="this.lunch.endDateTemp"
          [minDate]="this.lunch.startDateTemp"
          [maxDate]="this.workDay.endDateTemp"
          (flatpickrChange)="onLunchEndChange($event.selectedDates[0])"
        />
      </div>
      <div>
        <ul *ngIf="lunchErrors.length > 0" class="text-red-500">
          <li *ngFor="let error of lunchErrors">❌ {{ error }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
