<div
  class="workday-container flex items-center w-full gap-4"
  [ngClass]="getIsHorizontal()"
>
  <!-- WorkDay Start -->
  <div
    class="timeline-event flex flex-col items-center p-4 rounded-lg text-white shadow-md min-w-[150px] bg-blue-600"
  >
    <div class="event-name font-bold text-center">Start Day</div>
    <div class="event-dates text-sm text-center">
      {{ workDay?.startDate | date : "HH:mm" }}
    </div>
  </div>

  <!-- Timeline -->
  <div
    class="timeline-container flex items-center gap-4 overflow-x-auto relative w-full"
    [ngClass]="getIsHorizontal()"
  >
    <div
      *ngFor="let event of filledEvents"
      class="timeline-event flex flex-col items-center p-4 rounded-lg text-white shadow-md flex-grow min-w-[150px] max-w-[300px]"
      [ngClass]="getEventClass(event.eventType)"
    >
      <div class="event-name font-bold text-center">{{ event.name }}</div>
      <div class="event-dates text-sm text-center">
        {{ event.startDate | date : "HH:mm" }} -
        {{ event.endDate | date : "HH:mm" }}
      </div>
    </div>
  </div>

  <!-- WorkDay End -->
  <div
    class="timeline-event flex flex-col items-center p-4 rounded-lg text-white shadow-md min-w-[150px] bg-blue-600"
  >
    <div class="event-name font-bold text-center">End Day</div>
    <div class="event-dates text-sm text-center">
      {{ workDay?.endDate | date : "HH:mm" }}
    </div>
  </div>
</div>
