<div class="flex flex row justify-start">
  <!-- Current Time + Current and nextevent -->
  <div
    class="current-time flex flex-col items-center"
    *ngIf="isShowCurrentTime"
  >
    <!-- Current Time -->
    <div
      class="p-4 rounded-lg text-white shadow-md min-w-[150px] h-fit bg-gray-700"
    >
      <div class="time-label font-bold text-center">Current Time</div>
      <div class="time-value text-sm text-center text-xl">
        {{ currentTime | date : "HH:mm" }}
      </div>
      <!-- Progress Bar -->
      <div class="progress-bar w-full bg-gray-500 h-2 rounded mt-2">
        <div
          class="progress bg-green-500 h-full rounded transition-all duration-[1000ms] ease-linear"
          [style.width.%]="(currentTime.getSeconds() / 60) * 100"
        ></div>
      </div>
    </div>
    <div>
      <!-- Current and Next Events -->
      <div
        class="current-next-events flex flex-col items-center p-4 rounded-lg text-white shadow-md min-w-[300px] h-fit bg-gray-800 mt-4"
      >
        <div class="event-info font-bold text-center text-lg">
          Event Information
        </div>
        <ng-container
          *ngIf="
            getCurrentAndNextEvents().currentEvent != this.workDayEnd;
            else endOfDay
          "
        >
          <ng-container
            *ngIf="
              getCurrentAndNextEvents().currentEvent != this.workDayStart;
              else startOfDay
            "
          >
            <div class="current-event text-sm text-center mt-2">
              <span class="font-semibold">Current Event:</span>
              {{ getCurrentAndNextEvents().currentEvent?.name || "None" }}
            </div>
            <div class="next-event text-sm text-center mt-2">
              <span class="font-semibold">Next Event:</span>
              {{ getCurrentAndNextEvents().nextEvent?.name || "None" }}
            </div>
            <div class="time-between text-sm text-center mt-2">
              <span class="font-semibold">Time Until Next Event:</span>
              {{
                getCurrentAndNextEvents().nextEvent
                  ? getTimeBetweenEvents({
                      startDate: getCurrentAndNextEvents().nextEvent?.startDate
                    })
                  : "N/A"
              }}
            </div>
          </ng-container>
        </ng-container>

        <!-- End of Day Template -->
        <ng-template #endOfDay>
          <div class="end-of-day text-center text-lg font-bold mt-4">
            End of the day 🎉
          </div>
        </ng-template>

        <!-- Start of Day Template -->
        <ng-template #startOfDay>
          <div class="start-of-day text-center text-lg font-bold mt-4">
            Soon start of the day 🌞
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <!-- Timeline -->
  <div
    class="workday-container flex items-center w-full gap-4"
    [ngClass]="getIsHorizontal()"
  >
    <!-- WorkDay Start -->
    <div
      class="timeline-event flex flex-col items-center p-4 rounded-lg text-white shadow-md min-w-[150px] bg-blue-600"
      [class.border-red-500]="isCurrentTimeInEvent(workDayStart)"
      [class.border-2]="isCurrentTimeInEvent(workDayStart)"
    >
      <div class="event-name font-bold text-center">
        {{ workDayStart.name }}
      </div>
      <div class="event-dates text-sm text-center">
        {{ workDayStart.startDate | date : "HH:mm" }}
      </div>
    </div>

    <!-- Timeline -->
    <div
      class="timeline-container flex items-center gap-4 overflow-x-auto relative w-full"
      [ngClass]="getIsHorizontal()"
    >
      <div
        *ngFor="let event of filledEvents"
        class="timeline-event flex flex-col items-center p-4 rounded-lg text-white shadow-md flex-grow min-w-[150px] max-w-[300px]"
        [ngClass]="getEventClass(event.eventType)"
        [class.border-red-500]="isCurrentTimeInEvent(event)"
        [class.border-2]="isCurrentTimeInEvent(event)"
      >
        <div class="event-name font-bold text-center">{{ event.name }}</div>
        <div class="event-dates text-sm text-center">
          {{ event.startDate | date : "HH:mm" }} -
          {{ event.endDate | date : "HH:mm" }}
        </div>
      </div>
    </div>

    <!-- WorkDay End -->
    <div
      class="timeline-event flex flex-col items-center p-4 rounded-lg text-white shadow-md min-w-[150px] bg-blue-600"
      [class.border-red-500]="isCurrentTimeInEvent(workDayEnd)"
      [class.border-2]="isCurrentTimeInEvent(workDayEnd)"
    >
      <div class="event-name font-bold text-center">{{ workDayEnd.name }}</div>
      <div class="event-dates text-sm text-center">
        {{ workDayEnd.endDate | date : "HH:mm" }}
      </div>
    </div>
  </div>
</div>
