<div>
  <h2 class="text-2xl mb-2">Your templates</h2>
  <div *ngIf="isLoading()" class="loading-message" aria-live="polite">
    Loading...
  </div>

  <!-- Use flex layout for vertical alignment -->
  <div class="flex flex-col gap-4">
    <!-- WorkWell items -->
    <div
      class="shadow-lg bg-sky-100 p-4 rounded-lg flex flex-col justify-start"
      *ngFor="let workWell of workWellList"
      @listAnimation
    >
      <div class="flex flex-col justify-between mb-2">
        <div class="flex flex-row justify-between items-center mb-1">
          <h3 class="font-bold text-lg">
            <span *ngIf="isDebug()">{{ workWell.idWWS }} </span
            >{{ workWell.name }}
          </h3>
          <div class="flex flex-row gap-2 justify-center">
            <!-- Playing button -->
            <div class="flex justify-start">
              <p-button
                class="flex items-center size-10 cursor-pointer text-white font-bold rounded-lg shadow-lg"
                icon="pi pi-play"
                [severity]="workWell.getIsPlayingButtonSeverity()"
                aria-label="Play"
                (click)="playWorkWell(workWell.idWWS)"
              ></p-button>
            </div>
            <!-- Update button -->
            <div class="flex justify-start">
              <p-button
                class="flex items-center size-10 cursor-pointer text-white font-bold rounded-lg shadow-lg"
                icon="pi pi-pencil"
                severity="warn"
                aria-label="Update"
                (click)="deleteWorkWellByIdFromTemplate(workWell.idWWS)"
              ></p-button>
            </div>
            <!-- Delete button -->
            <div class="flex justify-start">
              <p-button
                class="flex items-center size-10 cursor-pointer text-white font-bold rounded-lg shadow-lg"
                icon="pi pi-trash"
                severity="danger"
                aria-label="Delete"
                (click)="deleteWorkWellByIdFromTemplate(workWell.idWWS)"
              ></p-button>
            </div>
          </div>
        </div>
        <p-panel
          class="m-1"
          header="Description"
          *ngIf="workWell.description != ''"
        >
          <p class="m-0">{{ workWell.description }}</p>
        </p-panel>
      </div>

      <!-- Timeline for each WorkWell -->
      <ww-timeline
        [events]="getClonedWorkWellEvents(workWell) || []"
        [workDay]="getCloneWorkDay(workWell)"
        [isHorizontal]="true"
        [isShowCurrentTime]="false"
      ></ww-timeline>

      <!-- Description -->
      <p class="font-light mt-2">{{ workWell.description }}</p>
    </div>

    <!-- Add button -->
    <div class="h-50">
      <button
        class="cursor-pointer h-full w-full p-4 bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-lg shadow-lg"
        aria-label="Add new template"
        title="Add new template"
        (click)="navigateToAddNewWorkWell()"
      >
        <p class="text-8xl">+</p>
      </button>
    </div>
  </div>
</div>
